@font-face {
	font-family: "Ostrich Proper";
	font-weight: 200;
	src: url('../../fonts/ostrich_proper/op_ultralight.woff2') format('woff2'),
			 url('../../fonts/ostrich_proper/op_ultralight.woff') format('woff');
}

@font-face {
	font-family: "Ostrich Proper";
	font-weight: 300;
	src: url('../../fonts/ostrich_proper/op_light.woff2') format('woff2'),
			 url('../../fonts/ostrich_proper/op_light.woff') format('woff');
}

@font-face {
	font-family: "Ostrich Proper";
	font-weight: 400;
	src: url('../../fonts/ostrich_proper/op_regular.woff2') format('woff2'),
			 url('../../fonts/ostrich_proper/op_regular.woff') format('woff');
}

@font-face {
	font-family: "Ostrich Proper";
	font-weight: 500;
	src: url('../../fonts/ostrich_proper/op_medium.woff2') format('woff2'),
			 url('../../fonts/ostrich_proper/op_medium.woff') format('woff');
}

@font-face {
	font-family: "Ostrich Proper";
	font-weight: 600;
	src: url('../../fonts/ostrich_proper/op_semibold.woff2') format('woff2'),
			 url('../../fonts/ostrich_proper/op_semibold.woff') format('woff');
}

@font-face {
	font-family: "Ostrich Proper";
	font-weight: 700;
	src: url('../../fonts/ostrich_proper/op_bold.woff2') format('woff2'),
			 url('../../fonts/ostrich_proper/op_bold.woff') format('woff');
}

@font-face {
	font-family: "Ostrich Proper";
	font-weight: 800;
	src: url('../../fonts/ostrich_proper/op_extrabold.woff2') format('woff2'),
			 url('../../fonts/ostrich_proper/op_extrabold.woff') format('woff');
}

@font-face {
	font-family: "Ostrich Proper";
	font-weight: 900;
	src: url('../../fonts/ostrich_proper/op_black.woff2') format('woff2'),
			 url('../../fonts/ostrich_proper/op_black.woff') format('woff');
}

@font-face {
	font-family: "Ostrich Proper Inline";
	font-weight: 400;
	src: url('../../fonts/ostrich_proper_inline/opi_regular.woff2') format('woff2'),
			 url('../../fonts/ostrich_proper_inline/opi_regular.woff') format('woff');
}