/* ---------- Variables ---------- */

// primary colors
$white: #fff;
$black: #000;
$ignition-green: #b2ff33;
$darker-gray: #333335;
$dark-gray: #868688;
$light-gray: #d7d7d9;
$lighter-gray: #f2f2f4;

$body-gray: #8c8c8e;

// secondary colors
$secondary-red: #d6001c;
$secondary-orange: #ffaa00;
$secondary-yellow: #ffd200;
$secondary-green: #319E01;
$secondary-blue: #0061a0;
$secondary-cyan: #009bdf;
$secondary-purple: #9c55c8;
$secondary-magenta: #eb008b;

// fonts
$din-2014: "din-2014", Arial, sans-serif;
$ostrich-inline: "Ostrich Proper Inline", Arial, sans-serif;
$ostrich-proper: "Ostrich Proper", Arial, sans-serif;